body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.card {
  background-color: white;
  width: 320px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}


.card h2 {
  font-size: 20px;

  margin-bottom: 20px;
    text-align: left;   

}

.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.card button {
  width: 100%;
  padding: 12px;
  background-color: #2d89ef;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background-color: #1b5fbf;
}