body {
  background-color: rgb(72, 77, 82);
}

header {
  background-color: beige;
  color: rgb(203, 22, 22);
  padding: 10px;
  text-align: center;
} 

footer {
  background-color: rgb(207, 31, 31);
  color: rgb(223, 214, 214);
  padding: 10px;
  text-align: center;
} 

<div>padding 4px 
margin 4px  
border 4px solid black
background-color: red
color: white      


<div>


